.main {
  padding: 2.5rem 4rem;
  display: flex;
  gap: 2rem;
}

.items {
  flex: 1;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  align-self: flex-start;
}

.h1 {
  color: rgb(52, 52, 52);
  padding: 2rem;
}

.orderSummary {
  align-self: flex-start;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  min-width: 300px;
  color: rgb(52, 52, 52);
}

.orderSummary > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0rem;
}

.orderSummary div:nth-child(2) {
  border-bottom: 1px solid rgb(235, 235, 235);
  padding-bottom: 0.8rem;
}

.orderSummary div:last-child {
  font-size: 1.2rem;
  font-weight: 600;
}
