.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  padding-bottom: 4rem;
  text-align: center;
}

.main h1 {
  font-size: 3rem;
}

.main p {
  font-size: 1rem;
  color: rgb(100, 100, 100);
}
