.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(230 230 230);
}

.header img {
  width: 130px;
}

.header nav {
  display: flex;
  gap: 2.5rem;
  margin-right: 2rem;
}

.header nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(52, 52, 52);
  transition: color 0.2s;
  font-size: 1.1rem;
}

.header nav a:hover {
  color: rgb(19, 153, 168);
}

.cartIcon {
  width: 20px;
  height: 20px;
}

.badge {
  align-self: flex-start;
  margin-top: -5px;
  min-width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgb(19, 153, 168);
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
}

@media (max-width: 580px) {
  .header {
    padding: 1rem 0.6rem;
  }

  .header img {
    width: 75px;
  }

  .header nav {
    gap: 0.8rem;
    margin-right: 0;
  }

  .header nav a {
    font-size: 1rem;
  }

  .cartIcon {
    width: 18px;
    height: 18px;
  }

  .badge {
    min-width: 16px;
    height: 16px;
    font-size: 0.6rem;
  }
}
