.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem 2rem;
    border-bottom: .5px solid rgb(230 230 230);
}

.nav {
    display: flex;
    gap: 1rem;
}