.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: -2rem;
}

.info h1 {
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.1;
  letter-spacing: -2px;
}

.homeBtn {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 48px;
  font-size: 1.2rem;
  margin-top: 1rem;
  text-decoration: none;
}
